body {
    font-family: "Poppins", sans-serif;
    ;
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    height: 95vh;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    margin: 50px;
    padding-left: 20px;
}

.header .logo img {
    width: 220px;
}

.hero {
    display: flex;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.hero img {
    padding: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 50px;
    letter-spacing: 1px;
}

.infos h1 {
    font-weight: 500;
    font-size: 44px;
    color: #fff;
    padding-bottom: 22px;
}

.infos p {
    color: #fff;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1px;

}

.container-btn .btn {
    width: 200px;
    height: 55px;
    border-radius: 50px;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 20px hsl(257, 52%, 34%);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.infos .btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.icones{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.icones li {
    padding: 10px;
}

.social a {
    color: #fff;
    font-size: 18px;
    padding: 5px;
    margin-top: -14px;
}

.social i {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.social a i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}