@media(max-width: 1200px) {
    body {
        height: 98vh;
    }

    .hero img {
        width: 700px;
    }

    .infos h1 {
        font-size: 34px;
    }
}

@media(max-width: 992px){
    body {
        height: 95vh;
    }

    .header .logo img {
        width: 200px;
    }

    .hero {
    padding: 20px;
    }

    .hero img {
        width: 600px;
    }

    .infos{
        margin-bottom: 50px;
    }

    .infos h1 {
        font-size: 22px;
    }

    .infos p{
        font-size: 15px;
    }

    .container-btn .btn {
        width: 180px;
        height: 50px;
    }

    .icones{
        margin: 0 50px;
    }
}

@media (max-width: 850px){
    body {
        height: 40vh;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .header {
        margin: 50px 70px 50px 150px;
        padding-left: 20px;
    }

    .header .logo img {
        width: 180px;
    }

    .infos{
        align-items: center;
    }

    .hero {
        padding: 20px;
    }

    .hero img {
        width: 500px;
        margin-bottom: 40px;
    }

    .infos h1 {
        font-size: 34px;
        text-align: center;
    }

    .infos p {
        font-size: 17px;
        text-align: center;
    }

    .social .icones{
        justify-content: center;
        margin-left: 100px;
    }
}

@media (max-width: 576px) { 
    body{
        height: 40vh;
    }

    .header {
        margin: 50px 70px 50px 20px;
    }

    .hero img {
        width: 470px;
        margin-bottom: 30px;
    }

    .infos p {
        font-weight: 300;
    }

    .container-btn .btn {
        width: 290px;
        height: 50px;
    }

    .icones{
        margin-top: -30px;
    }
}