@media(max-width: 1200px) {
    body {
        height: 98vh;
    }

    .hero img {
        width: 700px;
    }

    .infos h1 {
        font-size: 34px;
    }
}

@media(max-width: 992px){
    body {
        height: 95vh;
    }

    .header .logo img {
        width: 200px;
    }

    .hero {
        padding: 20px;
    }

    .hero img {
        width: 600px;
    }

    .infos{
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .infos h1 {
        font-size: 22px;
    }

    .infos p{
        font-size: 15px;
    }

    .container-btn .btn {
        width: 180px;
        height: 50px;
    }

    .icones{
        margin-right: 100px;
    }
}

@media (max-width: 850px){
    body {
        background: url("../images/bg-mobile.svg") center 0 no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .header {
        margin: 50px 70px 50px 150px;
        padding-left: 20px;
    }

    .header .logo img {
        width: 180px;
    }

    .infos{
        align-items: center;
    }

    .hero {
        padding: 20px;
    }

    .hero img {
        width: 500px;
        margin-bottom: 40px;
    }

    .infos h1 {
        font-size: 34px;
        text-align: center;
    }

    .infos p {
        font-size: 17px;
        text-align: center;
    }

    .social .icones{
        justify-content: center;
        margin-left: 100px;
    }
}

@media (max-width: 576px) { 
    body{
        background: url("../images/bg-mobile.svg") center 0 no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .header {
        margin: 50px 70px 50px 20px;
    }

    .hero img {
        width: 470px;
        margin-bottom: 30px;
    }

    .infos p {
        font-weight: 300;
    }

    .container-btn .btn {
        width: 290px;
        height: 50px;
    }

    .icones{
        margin-top: -30px;
    }
}

@media (max-width: 485px) {
    body{
        padding: 20px 0 20px 0;
        height: 10vh;
    }

    .header .logo img {
        width: 150px;
        margin-left: 10px;
        margin-top: -20px;
    }

    .hero{
        padding-top: 1px;
    }

    .hero img {
        width: 380px;
        margin-bottom: 31px;
    }

    .infos {
        margin-left: 0;
        letter-spacing: 0;
    }

    .infos h1 {
        padding: 0 20px 26px 20px;
        font-size: 33px;
    }

    .infos p {
        font-weight: 200;

    }
    
    .container-btn .btn {
        width: 240px;
        height: 50px;
        font-size: 14px;
    }

    .icones{
        margin-right: 100px;
        margin-top: -50px;
    }

    .social i {
        width: 30px;
        height: 30px;
    }

    .social a {
        font-size: 15px;
    }

    
}